@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap); /* Art Deco */
@import url(https://db.onlinewebfonts.com/c/0b3ccd2118221f3e0ce90b9a81d4c131?family=Yasashii);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  cursor: default;
}

/*  */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  padding: 1rem 2rem;
}

.name a {
  /* text-decoration: none; */
  color: black;
}
.name a:hover {
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 1.5rem;
}
.menu a {
  /* text-decoration: none; */
  color: black;
}
.menu a:hover {
  text-decoration: none;
}

.main-text {
  margin: 0;
  padding: 50px;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.main-text h2 {
  color: indianred;
}
.main-text a {
  color: #4078F2;
  text-decoration: none;
}

.main-text ul {
  list-style: none;
}
.main-text ul li:before {
  content: "\2022";
  color: #D19A66;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
